<div>
  <h1>Sign In with Your Phone Number</h1>

  <label for="phone">Phone Number</label><br>
  <input type="text" [(ngModel)]="phoneNumber" placeholder="Phone Number"
    (keydown.enter)="signInWithPhoneNumber()">

  <div id="recaptcha-container"></div>

  <div *ngIf="confirmationResult">
    <hr>
    <label for="code">Enter your Verification Code Here</label><br>
    <input type="text" name="code" [(ngModel)]="verificationCode">

    <button (click)="verifyLoginCode()">Verify</button>
  </div>

</div>