@import 'scss/colors/colors';

.geocode {
  width: 100%;

  .geocode__hint {
    font-size: 14px;
    color: $primary;
  }

  .pointer {
    cursor: pointer;
  }

  .icon-size {
    font-size: 16px;
  }
}