<div *ngIf="openingData; else dataMissing">
  <mat-dialog-title class="opening-dialog__title">Witamy w Driver's Keep!</mat-dialog-title>
  <div mat-dialog-content class="opening-dialog__content">
    <div>
      <div>
        Niestety, bez nadania odpowiednich uprawnień przez administratora nie będziesz miał dostępu do dalszej części
        aplikacji.
        W oczekiwaniu na ich nadanie, prosimy o potwierdzenie danych i służbowego numeru telefonu.
      </div>
    </div>
    <mat-form-field class="content__email-field">
      <input matInput placeholder="Email" [(ngModel)]="openingData.email" disabled>
    </mat-form-field>
    <mat-form-field class="content__name-field">
      <input matInput placeholder="Imię" [(ngModel)]="openingData.name" [disabled]="namePresent">
    </mat-form-field>
    <mat-form-field class="content__surname-field">
      <input matInput placeholder="Nazwisko" [(ngModel)]="openingData.surname" [disabled]="surnamePresent">
    </mat-form-field>
    <mat-form-field class="content__phone-field">
      <input matInput placeholder="Phone number" cdkFocusInitial [(ngModel)]="openingData.phoneNumber"
        [disabled]="phoneNumberPresent">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="opening-dialog__actions">
    <button *ngIf="!safeToCloseDialog; else closeDialogButton" mat-raised-button color="accent" (click)="confirmPhoneNumber(openingData)"
      [disabled]="disableResend">Potwierdź dane</button>
    <ng-template #closeDialogButton>
        <button mat-raised-button mat-dialog-close color="primary">Przejdź do aplikacji!</button>
    </ng-template>
    
  </div>
</div>

<ng-template #dataMissing>
  <div class="">Coś poszło nie tak - brakuje danych początkowych. Skontaktuj się z administratorem.</div>
</ng-template>