<div *ngIf="renderView" class="main-view">
  <div class="main-view__toolbar">
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="menu" disableRipple="true" class="toolbar__menu">
        <mat-icon class="menu__icon">menu</mat-icon>
      </button>
      <span class="toolbar__title">Driver's Keep</span>
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Help</button>
        </ng-template>
      </mat-menu>
    </mat-toolbar>
  </div>

  <div class="main-view__tabs">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
        <ng-template matTabContent>
          <!-- <router-outlet></router-outlet> -->
          {{ tab.label }}
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>