@import '~@angular/material/theming';
@import './palette-colors';

$drivers-keep-primary: mat-palette($drivers-keep-primary-palette);
$drivers-keep-accent:  mat-palette($drivers-keep-accent-palette);
$drivers-keep-warn:    mat-palette($drivers-keep-warn-palette);

$primary: mat-color($drivers-keep-primary);
$accent: mat-color($drivers-keep-accent);
$warn: mat-color($drivers-keep-warn);

$grey-background: mat-color($drivers-keep-primary, 50);