// Available color palettes: https://material.io/design/color/
$light-primary-text: #ffffff;
$dark-primary-text: #000000;

$drivers-keep-primary-palette: (
  // 50 : #fae5e6,
  50 : #F8F9F9,
  100 : #f2bdc0,
  200 : #e99197,
  300 : #e0656d,
  400 : #d9444d,
  500 : #d2232e,
  600 : #cd1f29,
  700 : #c71a23,
  800 : #c1151d,
  900 : #b60c12,
  A100 : #ffe2e3,
  A200 : #ffafb1,
  A400 : #ff7c7f,
  A700 : #ff6366,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

$drivers-keep-accent-palette: (
  50 : #e4e6e6,
  100 : #bdc0c1,
  200 : #919698,
  300 : #646c6f,
  400 : #434d50,
  500 : #222d31,
  600 : #1e282c,
  700 : #192225,
  800 : #141c1f,
  900 : #0c1113,
  A100 : #58bcff,
  A200 : #25a8ff,
  A400 : #0090f1,
  A700 : #0081d7,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $light-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $light-primary-text,
    A700 : $light-primary-text,
  )
);

$drivers-keep-warn-palette: (
  50 : #fafbe4,
  100 : #f3f5bd,
  200 : #ebef91,
  300 : #e3e964,
  400 : #dde443,
  500 : #d7df22,
  600 : #d3db1e,
  700 : #cdd719,
  800 : #c7d214,
  900 : #beca0c,
  A100 : #fefff6,
  A200 : #fbffc3,
  A400 : #f7ff90,
  A700 : #f5ff76,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $dark-primary-text,
    600 : $dark-primary-text,
    700 : $dark-primary-text,
    800 : $dark-primary-text,
    900 : $dark-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);