<div class="view-all-jobs">
  <mat-toolbar color="primary" class="view-all-jobs__header">
  </mat-toolbar>
  <virtual-scroller #scroll [items]="jobsArr" class="view-all-jobs__list-container">
    <mat-card *ngFor="let job of scroll.viewPortItems" class="list-container__card">
      <div class="card__date">
        21-03-2019 11:53
      </div>

      <mat-divider [vertical]="true" class="card__divider"></mat-divider>

      <div class="card__zipcodes">
        <div>{{ job.sender.sender_zipcode }} </div>
        <mat-icon>arrow_right_alt</mat-icon>
        <div>{{ job.receiver.receiver_zipcode }} </div>
      </div>

      <mat-divider [vertical]="true" class="card__divider"></mat-divider>

      <div class="card__worker">
        {{ job.driver_id }}
      </div>

      <mat-divider [vertical]="true" class="card__divider"></mat-divider>

      <div class="card__assigned-checkbox">
        <mat-checkbox [(ngModel)]="job.assigned" labelPosition="before" disabled class="assigned-checkbox">
          Przydzielone?
        </mat-checkbox>
      </div>

      <mat-divider [vertical]="true" class="card__divider"></mat-divider>

      <div class="card__assigned-checkbox">
        <mat-checkbox [(ngModel)]="job.delivered" labelPosition="before" disabled class="assigned-checkbox">
          Dostarczone?
        </mat-checkbox>
      </div>

      <mat-divider [vertical]="true" class="card__divider"></mat-divider>

      <div class="card__edit">
        <mat-icon>settings</mat-icon>
      </div>
    </mat-card>
  </virtual-scroller>
</div>